<table id="table_id" class="display" style="width:100%">
    <thead >
    <tr id="table_fields_names">
        <td>id</td>
        <td>idobj</td>
        <td>idai</td>
        <td>datein</td>
        <td>mode</td>
        <td>aimax</td>
        <td>aimean</td>
        <td>aimin</td>
        <td>statmin</td>
        <td>statmax</td>
        <td>mlmin</td>
        <td>mlmax</td>
        <td>err</td>
        <td>sts</td>
        <td>dateout</td>
        <td>datecheck</td>
        <td>cmnt</td>
        <td>action</td>
    </tr>
    </thead>

    <tbody>

    </tbody>
</table>

