{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'app/head.html' %}
<body>

<div class="container-fluid pl-0">
    <div class="row ">

        <div class="col-2 ">
            {% include 'app/navigation_menu.html' %}
        </div>
        <div id="all_graph"  class="card-body">

                <select  id="count_points" class="align-items-right">
                  <option value="6">6</option>
                  <option selected="selected" value="24">24</option>
                  <option value="70">70</option>
                </select>
                <div id="chart"></div>
            </div>
        </div>

    </div>
</div>

</body>
{% include 'app/scripts.html' %}
</html>