{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'app/head.html' %}
<body>
{% include 'app/navigation_menu.html' %}
<div class="container-fluid pl-0">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <select  id="count_points" class="align-items-right">
                  <option value="2">2</option>
                  <option selected="selected" value="3">3</option>
                  <option value="4">4</option>
                </select>
                <div id="chart"></div>
            </div>
                </div>
        {% include 'app/table.html'%}

    </div>

</div>
</body>

<script>
   $(document).ready(function () {
const socket_table = new WebSocket('ws://localhost:8011/ws/table/');
               socket_table.onmessage = function (e) {
                let current_values = get_data(e.data);
                   let url = location.href;
                let res = url.substring(url.lastIndexOf('/') + 1);

                updateTable('#table_id', current_values, res);
            }

})
</script>

{% include 'app/table_js.html' %}
{% include 'app/table_update_sts.html'%}
{% include 'app/graph/set_graph_js.html' %}
{% include 'app/graph/details/details_websocket.html' %}
{% include 'app/graph/all_graph.html' %}
{#{% include 'app/graph/details/details_graph_js.html' %}#}
{% include 'app/graph/all/graph_apex_chart_js.html' %}
<script>

let countElOut;
let changesFound;
let global_values = [];
let global_count_points_selected;

$(document).ready(function () {
    const socket_graph_details = new WebSocket('ws://localhost:8011/ws/details/');
    socket_graph_details.onmessage = function (e) {

        let graphs = {};

        let url = location.href;
        let res = url.substring(url.lastIndexOf('/') + 1);

        let current_values = $.parseJSON(get_data(e.data, res));
        if (current_values !== 0) {
                    let count_points_selected = $( "#count_points option:selected" ).text();
        if (_.isEqual(current_values, window.global_values) === false ||
            _.isEqual(count_points_selected, window.global_count_points_selected) === false){
            window.global_values = current_values;
            window.global_count_points_selected = count_points_selected;

            {#здесь менять -> #}

            graphs = getDataAllGraph(graphs, current_values, "datein", 4);

            {#здесь менять <- #}
            let skip_values = ['sts','cmnt','dateout','datecheck','aimin','aimax']
            const [dataset_apex_arr, list_labels] = setApexChart(graphs,count_points_selected, skip_values)


            updateApexChart(dataset_apex_arr,list_labels);
        }

    }}

});

</script>